    .index_list{
      text-align: center;
      position: relative;
      margin-top: 80px;
      margin-bottom: 110px;
    }
    .index_list img{
      width: 400px;
      height:425px;
        margin:50px auto;
    }